<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".descrip1" %> <a href="http://www.railstutorial.org/"><em><%= t ".link1" %></em>
  </a> <%= t ".descrip2" %>
  <a href="http://www.railstutorial.org/book"><%= t ".link2" %></a> <%= t ".descrip3" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".link3" %></a>
  <%= t ".descrip4" %>
  <a href="http://rubyonrails.org/"><%= t ".link4" %></a>.
  <%= t ".descrip5" %>
</p>
