<% provide :title, t(".title") %>
<h1><%= t ".hello" %></h1>
<p>
  <%= t ".descrip1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".link1" %></a>.
  <%= t ".descrip2" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".link2" %></em> <%= t ".descrip3" %></a>.
</p>
