<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "static_pages.home.tab_post" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
<div class = "center jumbotron">
  <h1><%= t ".hello" %></h1>
  <h2>
    <%= t ".descrip1" %>
    <a href="http://www.railstutorial.org/"><%= t ".link1" %></a>
    <%= t ".descrip2" %>
  </h2>
  <%= link_to t("static_pages.home.sign_up"), signup_path,
    class:"btn btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: t("static_pages.home.logo")),
            "http://rubyonrails.org/" %>
<% end %>
