<% provide :title, t("user_mailer.password_reset.title_new") %>
<h1><%= t "user_mailer.password_reset.title_new" %></h1>
<div class = "row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :password_reset, url: password_resets_path do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.submit t("user_mailer.password_reset.submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
