<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("micropost.view.text_area") %>
  </div>
  <%= f.submit t("micropost.view.bt_text"), class: "btn btn-primary" %>
  <span class = "picture">
    <%= f.file_field :picture, accept: Settings.micropost.file_type %>
  </span>
<% end %>
<%= javascript_include_tag :micropost %>
