<footer class = "footer">
  <small>
    <%= t ("layout.footer.descrip1") %><a href="http://www.railstutorial.org/"><%= t ("layout.footer.link1") %></a>
    by <a href="http://www.michaelhartl.com/"><%= t ("layout.footer.link2") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about.title"), "#" %></li>
      <li><%= link_to t("static_pages.contact.title"), "#" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ("layout.footer.link3") %></a></li>
    </ul>
  </nav>
</footer>
